services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: .
    env_file:
      - .env
    ports:
      - "4000:4000"
    depends_on:
      - mongo

volumes:
  mongo-data:
